body{
    background-color: #007ced;
}
.content{
     background-color: #fff;
     border-radius: 20px;
     width: 1200px;
     margin: 50px auto;
    padding: 30px;
}
.logoIcon{
    background-color: #007ced;
    font-size: 25px;
    padding: 2px;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
}
*{
    box-sizing: border-box;
}
.logo{
    font-size:25px ;
    float: left;
}
.menu{
    float: right;
    padding-top: 10px;
}
.menu a{
    margin-left: 25px;
}
a{
    color: #333;
    text-decoration: none;
}
html,body{
    font-family: 'Poppins', sans-serif;
}
section{
    clear: both;

}
.half{
    width: 50%;
    float: left;
}
.circleImg{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 50px auto;
    padding: 20px;
}
.img_bg{
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url('../css/main_photo.jpg');
    background-size: cover;
    background-position: center;
}
.hero h4{
    margin-top:50px ;
    margin-bottom: 5px;
}
.hero h2{
    margin: 5px 0;
}
.hero P{
    margin: 5px 0;
    margin-bottom: 30px;
}
.download{
    border:1px solid #007ced;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.contact{
    border:1px solid #ddd;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.hero a:hover{
    background-color: #007ced;
    color:#fff
}
h2{
    position: relative;
}
 .gray_line{
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ddd;
}
.blue_line{
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #007ced;
}
/*
.what h2::after{
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ddd;
    z-index: 1;
}
.what h2::before{
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #007ced;
    z-index: 2;
    top: 37px;
}*/
.ten{
    width: 10%;
    float: left;
}
.ninety{
    width: 90%;
    float: left;
}
.what i{
    font-size: 25px;
    padding: 20px;
    color: #007ced;
}
.quarter{
    width: 25%;
    float: left;
    padding: 1%;
}
.box{
    border:1px solid gray;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}
.box i{
    padding: 10px;
    font-size: 50px;
    color: #007ced;
}
.box h4{
    margin: 0;
}
.box:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 15px gray;
}